

<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>系统_菜单</title>
    <link href="../../layui/css/layui.css" rel="stylesheet" media="all" />
    <link href="../../build/css/common.css" rel="stylesheet" />
</head>
<body>
    <div id="page-vm" class="layui-fluid iframe-top">
        <div class="table_sysmenus_mg">
            <fieldset class="layui-elem-field">
                <div class="layui-field-box">
                    <form class="layui-form">
                        <div class="layui-row">
                            <div class="layui-inline">
                                <label class="layui-form-label">菜单名称：</label>
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input" id="menu_name" name="menu_name">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">上级菜单：</label>
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input" id="menu_parent_id" name="menu_parent_id">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">是否可用：</label>
                                <div class="layui-input-inline">
                                    <select lay-search name="menu_is_enabled">
                                        <option value="">请选择</option>
                                        <option v-for="option in menu_is_enabledlist" v-bind:value="option.Value">{{ option.Text }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline btngroup">
                                <a href="javascript:;" class="layui-btn" lay-submit lay-filter="btn_sysmenus_from" id="btn_sysmenus_from_query">查询</a>
                                <a href="javascript:;" class="layui-btn" lay-submit lay-filter="btn_sysmenus_from_export">导出</a>
                            </div>
                        </div>
                    </form>
                </div>
            </fieldset>
            <table id="table_sysmenus" class="layui-hide" lay-filter="table_sysmenus_list"></table>
            <div id="table_sysmenus_page" class="laypage"></div>
        </div>
    </div>
    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
            <button class="layui-btn layui-btn-sm layui-btn-warm" lay-event="delbatch">批量删除</button>
        </div>
    </script>
    <script type="text/html" id="tpl_menu_is_enabled">
        <input type="checkbox" name="menu_is_enabled" value="1" lay-skin="switch" data-code="{{d.menu_id}}" lay-text="是|否" lay-filter="table_tpl_menu_is_enabled" {{d.menu_is_enabled==1?'checked':''}}>
    </script>
    <script type="text/html" id="table_sysmenus_operator">
        <a href="javascript:;" class="layui-btn layui-btn-xs" lay-event="edit" data-code="menu_id">编辑</a>
        <a href="javascript:;" class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del" data-code="menu_id">删除</a>
    </script>
    <script src="../../layui/layui.js"></script>
    <script src="../../plugins/vue/vue.min.js"></script>
    <!--公共函数库-->
    <script src="../../modules/extend/common.js"></script>
    <script>
        var vm = new Vue({
            el: '#page-vm',
            data: {
                currPage: 1,
                menu_is_enabledlist: []
            },
            methods: {
                RenderDom: function (form, callback) {
                    vm.$forceUpdate();//强制重新渲染 dom
                    // DOM 还没有更新
                    vm.$nextTick(function () {
                        // DOM 现在更新了
                        form.render();
                        if (callback) {
                            callback();
                        }
                    });
                }
            }
        });
        layui.use(['table', 'layer', 'form', 'laypage', 'jquery', 'ajaxmod', 'datatable'], function () {
            var table = layui.table,
                $ = layui.jquery,
                layer = layui.layer,
                form = layui.form,
                laypage = layui.laypage,
                ajaxmod = layui.ajaxmod,
                datatable = layui.datatable;
            var _context = $('.table_sysmenus_mg'),
                _table_style = { align: 'center' };//公共样式

            var sysmenusObj = {
                renderTable: function (_options) {
                    var optDefault = {
                        Page: vm.currPage,
                        PageSize: PageSize,//common中定义的全局
                    };
                    $.extend(optDefault, _options);
                    var _the = this;
                    datatable.renderTable(optDefault, {
                        url: '/sysmenus',
                        tableElem: 'table_sysmenus',//laypage 自动加_page
                        tableCols: [[
                            { type: 'checkbox' },
                            $.extend({ field: 'menu_id', title: '菜单ID' }, _table_style),
                            $.extend({ field: 'menu_name', title: '菜单名称' }, _table_style),
                            $.extend({ field: 'menu_parent_id', title: '父级菜单ID' }, _table_style),
                            $.extend({ field: 'menu_icon', title: '菜单图标' }, _table_style),
                            $.extend({ field: 'menu_grade', title: '菜单等级' }, _table_style),
                            $.extend({ field: 'menu_url', title: '菜单URL' }, _table_style),
                            $.extend({ field: 'menu_sort', title: '菜单排序' }, _table_style),
                            $.extend({ field: 'menu_description', title: '菜单描述' }, _table_style),
                            $.extend({ field: 'menu_is_enabled', title: '菜单是否启用', templet: '#tpl_menu_is_enabled' }, _table_style),
                            $.extend({ field: 'menu_id', title: '操作', width: 190, templet: '#table_sysmenus_operator', fixed: 'right' }, _table_style)
                        ]],
                    });
                },
                edit: function (_data) {
                    var _the = this;
                    datatable.edit({
                        title: '编辑系统_菜单',
                        area: ['850px', '500px'],
                        content: 'view/sysmenus/edit.html?menu_id=' + _data.menu_id,
                    });
                },
                add: function () {
                    var _the = this;
                    datatable.add({
                        title: '新增系统_菜单',
                        area: ['850px', '500px'],
                        content: 'view/sysmenus/edit.html',
                    });
                },
                del: function (_data) {
                    var _the = this;
                    datatable.del({
                        url: '/sysmenus/' + _data.menu_id,
                        type: 'Delete',
                        success: function (_json) {
                            top.tool.publish('edit_sysmenus_form_refresh');//触发事件刷新列表
                        }
                    });
                },
                delbatch: function (_data) {
                    var checkStatus = table.checkStatus('table_sysmenus'),
                        data = checkStatus.data;
                    var delIdList = [];
                    $.each(data, function (k, v) {
                        delIdList.push(v._id);
                    });
                    datatable.delbatch({
                        url: '/sysmenus',
                        type: 'Delete',
                        data: delIdList,
                        success: function (_json) {
                            top.tool.publish('edit_sysmenus_form_refresh');//触发事件刷新列表
                        }
                    });
                },
                patchObj: function (_data) {
                    ajaxmod.authorizeAjax({
                        url: '/sysmenus',
                        type: 'Patch',
                        data: _data,
                        success: function (_json) {
                            top.tool.publish('edit_sysmenus_form_refresh');
                        }
                    });
                },
                exportExcel: function (data) {
                    //跟表格显示的数据一样
                    data = excel.filterExportData(data, [
                        'menu_id',
                        'menu_name',
                        'menu_icon',
                        'menu_sort',
                        'menu_parent_id',
                        'menu_grade',
                        'menu_url',
                        'menu_description',
                        'menu_is_enabled',
                    ]);

                    data.unshift({
                        menu_id: 'id',
                        menu_name: '菜单名称',
                        menu_icon: '菜单图标',
                        menu_sort: '菜单排序',
                        menu_parent_id: '父级菜单',
                        menu_grade: '菜单等级',
                        menu_url: '菜单URL',
                        menu_description: '菜单描述',
                        menu_is_enabled: '菜单是否启用',
                    });

                    excel.exportExcel({
                        sysmenus: data
                    }, 'sysmenus' + new Date().toLocaleString() + '.xlsx', 'xlsx');
                },
                loadtable: function () {
                    $('#btn_sysmenus_from_query').click();
                },
                loadList: function () {
                    var _the = this;
                    ajaxmod.ajaxArray([
                        {
                            url: '/appenums/1000',
                            type: 'Get',
                            success: function (_json) {
                                vm.menu_is_enabledlist = _json.Result;
                            }
                        }
                    ], function () {
                        vm.RenderDom(form);
                    });
                }
            };
            sysmenusObj.loadList();
            sysmenusObj.renderTable();//加载第一页

            //绑定编辑也保存事件
            top.tool.subscribe("edit_sysmenus_form_refresh", function () {
                sysmenusObj.renderTable();
            });

            table.on('tool(table_sysmenus_list)', function (obj) {
                var data = obj.data;
                sysmenusObj[obj.event] ? sysmenusObj[obj.event].call(sysmenusObj, data) : '';
            });

            table.on('toolbar(table_sysmenus_list)', function (obj) {
                var data = obj.data;
                sysmenusObj[obj.event] ? sysmenusObj[obj.event].call(sysmenusObj, data) : '';
            });

            form.on('submit(btn_sysmenus_from)', function (data) {
                vm.currPage = 1;
                sysmenusObj.renderTable(data.field);
                return false;
            });

            form.on('submit(btn_sysmenus_from_export)', function (data) {
                ajaxmod.authorizeAjax({
                    url: '/sysmenus?option=1',
                    type: 'Get',
                    data: data.field,
                    success: function (_json) {
                        sysmenusObj.exportExcel(_json.Result);
                    }
                });
                return false;
            });

            form.on('switch(table_tpl_menu_is_enabled)', function (data) {
                let _id = data.elem.attributes["data-code"].value;
                let _value = 1;
                if (data.elem.checked) {
                    _value = 1;
                } else {
                    _value = 2;
                }
                sysmenusObj.patchObj({ menu_id: _id, menu_is_enabled: _value });
            });
        });
    </script>
</body>
</html>