

<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>系统_用户</title>
    <link href="../../layui/css/layui.css" rel="stylesheet" media="all" />
    <link href="../../build/css/common.css" rel="stylesheet" />
</head>
<body>
    <div id="page-vm" class="layui-fluid iframe-top">
        <div class="table_sysusers_mg">
            <fieldset class="layui-elem-field">
                <div class="layui-field-box">
                    <form class="layui-form">
                        <div class="layui-row">
                            <div class="layui-inline">
                                <label class="layui-form-label">role_id：</label>
                                <div class="layui-input-inline">
                                   <input type="text" class="layui-input" name="role_id">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">user_账号：</label>
                                <div class="layui-input-inline">
                                   <input type="text" class="layui-input" name="user_account">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">user_密码：</label>
                                <div class="layui-input-inline">
                                   <input type="text" class="layui-input" name="user_pwd">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">user_是否启用：</label>
                                <div class="layui-input-inline">
                                   <input type="text" class="layui-input" name="user_is_enable">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">user_手机号：</label>
                                <div class="layui-input-inline">
                                   <input type="text" class="layui-input" name="user_phone">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">user_邮箱：</label>
                                <div class="layui-input-inline">
                                   <input type="text" class="layui-input" name="user_email">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">user_头像：</label>
                                <div class="layui-input-inline">
                                   <input type="text" class="layui-input" name="user_icon">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">user_名称：</label>
                                <div class="layui-input-inline">
                                   <input type="text" class="layui-input" name="user_name">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">user_性别：</label>
                                <div class="layui-input-inline">
                                   <input type="text" class="layui-input" name="user_sex">
                                </div>
                            </div>
                        <div class="layui-inline btngroup">
                            <a href="javascript:;" class="layui-btn" lay-submit lay-filter="btn_sysusers_from" id="btn_sysusers_from_query">查询</a>
                            <a class="layui-btn" id="btn_add" href="javascript:;">新增</a>
                            <a class="layui-btn" id="btn_del_batch" href="javascript:;">批量删除</a>
                            <a href="javascript:;" class="layui-btn" lay-submit lay-filter="btn_sysusers_from_export">导出</a>
                        </div>
                        </div>
                    </form>
                </div>
            </fieldset>
            <table id="table_sysusers" class="layui-hide" lay-filter="table_sysusers_list"></table>
            <div id="table_sysusers_page" class="laypage"></div>
        </div>
    </div>

    <script type="text/html" id="table_sysusers_operator">
        <a href="javascript:;" class="layui-btn layui-btn-xs" lay-event="edit" data-code="user_id">编辑</a>
        <a href="javascript:;" class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del" data-code="user_id">删除</a>
    </script>
    <script src="../../layui/layui.js"></script>
    <script src="../../plugins/vue/vue.min.js"></script>
    <!--公共函数库-->
    <script src="../../modules/extend/common.js"></script>
    <script>
        var vm = new Vue({
            el: '#page-vm',
            data: {
                currPage: 1
            },
            methods: {
				RenderDom: function(form, callback){
                    vm.$forceUpdate();//强制重新渲染 dom
                    // DOM 还没有更新
                    vm.$nextTick(function () {
                        // DOM 现在更新了
                        form.render();
                        if (callback) {
                            callback();
                        }
                    });
                }
            }
        });
        layui.use(['table', 'layer', 'form', 'laypage', 'jquery', 'ajaxmod',  'datatable'], function () {
            var table = layui.table,
                $ = layui.jquery,
                layer = layui.layer,
                form = layui.form,
                laypage = layui.laypage,
                ajaxmod = layui.ajaxmod,
                datatable = layui.datatable;
            var _context = $('.table_sysusers_mg'),
                _table_style = { align: 'center' };//公共样式

            var sysusersObj = {
                renderTable: function (_options) {
                    var optDefault = {
                        Page: vm.currPage,
                        PageSize: PageSize,//common中定义的全局
                    };
                    $.extend(optDefault, _options);
                    var _the = this;
                    datatable.renderTable(optDefault, {
                        url: '/sysusers',
                        tableElem: 'table_sysusers',//laypage 自动加_page
                        tableCols: [[
                            { type: 'checkbox'},
                          $.extend({ field: 'role_id', title: 'role_id' }, _table_style),
                          $.extend({ field: 'user_account', title: 'user_账号' }, _table_style),
                          $.extend({ field: 'user_pwd', title: 'user_密码' }, _table_style),
                          $.extend({ field: 'user_is_enable', title: 'user_是否启用' }, _table_style),
                          $.extend({ field: 'user_phone', title: 'user_手机号' }, _table_style),
                          $.extend({ field: 'user_email', title: 'user_邮箱' }, _table_style),
                          $.extend({ field: 'user_time', title: 'user_创建时间' }, _table_style),
                          $.extend({ field: 'user_icon', title: 'user_头像' }, _table_style),
                          $.extend({ field: 'user_name', title: 'user_名称' }, _table_style),
                          $.extend({ field: 'user_sex', title: 'user_性别' }, _table_style),
                            $.extend({ field: 'user_id', title: '操作', width: 190, templet: '#table_sysusers_operator', fixed: 'right' }, _table_style)
                        ]],
                    });
                },
                edit: function (_data) {
                    var _the = this;
                    datatable.edit({
                        title: '编辑系统_用户',
                        area: ['850px', '500px'],
                        content: 'view/sysusers/edit.html?user_id=' + _data.user_id,
                    });
                },
                add: function () {
                    var _the = this;
                    datatable.add({
                        title: '新增系统_用户',
                        area: ['850px', '500px'],
                        content: 'view/sysusers/edit.html',
                    });
                },
                del: function (_data) {
                    var _the = this;
                    datatable.del({
                        url: '/sysusers/' + _data.user_id,
                        type: 'Delete',
                        success: function (_json) {
                            top.tool.publish('edit_sysusers_form_refresh');//触发事件刷新列表
                        }
                    });
                },
                delbatch: function (_data) {
                    var checkStatus = table.checkStatus('table_sysusers'),
                        data = checkStatus.data;
                   var delIdList = [];
                    $.each(data, function (k, v) {
                        delIdList.push(v._id);
                    });
                    datatable.delbatch({
                        url: '/sysusers',
                        type: 'Delete',
                        data: delIdList,
                        success: function (_json) {
                            top.tool.publish('edit_sysusers_form_refresh');//触发事件刷新列表
                        }
                    });
                },
				patchObj: function (_data) {
                    ajaxmod.authorizeAjax({
                        url: '/sysusers',
                        type: 'Patch',
                        data: _data,
                        success: function (_json) {
							top.tool.publish('edit_sysusers_form_refresh');
                        }
                    });
                },
                exportExcel: function (data) {
                    //跟表格显示的数据一样
                    data = excel.filterExportData(data, [
                       'user_id',
                       'role_id',
                       'user_account',
                       'user_pwd',
                       'user_is_enable',
                       'user_phone',
                       'user_email',
                       'user_time',
                       'user_icon',
                       'user_name',
                       'user_sex',
                    ]);

                    data.unshift({
                        user_id:'user_id',
                        role_id:'role_id',
                        user_account:'user_账号',
                        user_pwd:'user_密码',
                        user_is_enable:'user_是否启用',
                        user_phone:'user_手机号',
                        user_email:'user_邮箱',
                        user_time:'user_创建时间',
                        user_icon:'user_头像',
                        user_name:'user_名称',
                        user_sex:'user_性别',
                    });

                    excel.exportExcel({
                        sysusers: data
                    }, 'sysusers' + new Date().toLocaleString() + '.xlsx', 'xlsx');
                },
                loadtable:function(){
                    $('#btn_sysusers_from_query').click();
                }
            };

            sysusersObj.renderTable();//加载第一页

            //绑定编辑也保存事件
            top.tool.subscribe("edit_sysusers_form_refresh", function () {
                sysusersObj.renderTable();
            });

            $('#btn_add').on('click', $(_context), function () {
                sysusersObj.add();
            });

            $('#btn_del_batch').on('click', $(_context), function () {
                sysusersObj.delbatch();
            });

            table.on('tool(table_sysusers_list)', function (obj) {
                var data = obj.data;
                sysusersObj[obj.event] ? sysusersObj[obj.event].call(sysusersObj, data) : '';
            });

            form.on('submit(btn_sysusers_from)', function (data) {
                vm.currPage = 1;
                sysusersObj.renderTable(data.field);
                return false;
            });

            form.on('submit(btn_sysusers_from_export)', function (data) {
                ajaxmod.authorizeAjax({
                    url: '/sysusers?option=1',
                    type: 'Get',
                    data: data.field,
                    success: function (_json) {
                        sysusersObj.exportExcel(_json.Result);
                    }
                });
                return false;
            });
        });
    </script>
</body>
</html>